:root {

}

body {
    margin: 0px;
    padding: 0px;
}

.carousel-item img{
    height: 70vh
}

header{
    background-color: rgb(66, 68, 70);
}

#nav a{
    color:rgb(217, 253, 235);
}

footer{
    background-color: rgb(66, 68, 70);
    height:40px;
    font-size: larger;
    font-weight: bold;
    color:rgb(217, 253, 235);
}

hr{
    width: 80%;
    height: 3px;
    background-color:rgb(66, 68, 70)k;
}

#silhouette{
    height:90%
}

td, th{
    border:solid 2px  black;
    margin:auto
}

table{
    max-width:80%;
}

hr{
    color:black;
    height:2px;
}