:root {

}

body {
    margin: 0px;
    padding: 0px;
    font-family: "Roboto Condensed", sans-serif;
}

.carousel-item img{
    height: 70vh
}

header{
    background-color: rgb(66, 68, 70);
}

#nav a{
    color:rgb(217, 253, 235);
}

footer{
    background-color: rgb(66, 68, 70);
    height:40px;
    font-size: larger;
    font-weight: bold;
    color:rgb(217, 253, 235);
}

hr{
    width: 80%;
    height: 3px;
    background-color:rgb(66, 68, 70)k;
}

#silhouette{
    height:90%
}

td, th{
    border:solid 2px  black;
    margin:auto;
}

table{
    max-width:80%;
    background:hsl(30, 35%, 84%);
    opacity:.9;
    box-shadow: 3px 3px 25px 0px rgba(248, 228, 195, 0.71);}

hr{
    color:black;
    height:2px;
}

input[type='radio']{
    accent-color: hsl(192, 82%, 50%);
}

#carousel{
    width:88%;
    margin: auto;
    margin-top:30px;
}

.navbar-brand{
    display: flex;
    justify-self: flex-start !important;
}